<div class="container-fluid">
    <!-- <div id="green">

        <div class="container-lg">
            <div class="absolute" id="witaj">
                <h3>Witaj na stronie głównej!</h3>
            </div>
            <div class="row">
                <div class="col-md"></div>
                <div class="col-md-4">
                    <div>
                        <div class="image-wrapper1" >
                            <img src="..\..\assets\images\papuga.png" id="im" style="width: 426px; height: 258px;">
                        </div>
                        <div id="text">
                            Znajdź swojego ulubionego petisttera w darmowej aplikacji mobilnej Petsy. Pobierz ją z App Store lub
                        Google Play.</div>
                        <img id="logos" src="..\..\assets\images\appStore.png">
                         <img id="logos" src="..\..\assets\images\googlePlay.png">
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="text2">
    
                        Zostaw swojego psa lub kota w dobrych rękach i jedź spokojnie na urlop! Mamy najlepszych petsitterów
                        w mieście!</div>
                        <div class="image-wrapper2" ><img src="..\..\assets\images\pies-i-kot.png"  id="im" style="width: 426px; height: 258px;">
                        </div>
                    
                </div>
                <div class="col-md"></div>
            </div>
        </div>
      


    </div> -->
</div>
